.noteTextSize0 { font-size: 1.00em; }
.noteTextSize1 { font-size: 1.05em; }
.noteTextSize2 { font-size: 1.075em; }
.noteTextSize3 { font-size: 1.1em; }
.noteTextSize4 { font-size: 1.15em; }
.noteTextSize5 { font-size: 1.2em; }
.noteTextSize6 { font-size: 1.25em; }
.noteTextSize7 { font-size: 1.3em; }
.noteTextSize8 { font-size: 1.35em; }
.noteTextSize9 { font-size: 1.4em; }
.noteTextSize10 { font-size: 1.45em; }
.noteTextSize11 { font-size: 1.5em; }
.noteTextSize12 { font-size: 1.55em; }
.noteTextSize13 { font-size: 1.6em; }
.noteTextSize14 { font-size: 1.65em; }
.noteTextSize15 { font-size: 1.7em; }
.noteTextSize16 { font-size: 1.75em; }
.noteTextSize17 { font-size: 1.8em; }
.noteTextSize18 { font-size: 1.85em; }
.noteTextSize19 { font-size: 1.9em; }
.noteTextSize20 { font-size: 2em; }


